@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LorenzoLayout.cshtml";
}

<div class="container">
    <ul id="categories">
        <li id="myself">
            <a href="/Lorenzo/Io">
                <span>Io
                </span>
            </a>
        </li>
        <li id="family">
            <a href="/Lorenzo/Famiglia">
                <span>Famiglia
                </span>
            </a>
        </li>
        <li id="friends">
            <a href="/Lorenzo/Amici">
                <span>Amici
                </span>
            </a>
        </li>
        <li id="steps">
            <a href="/Lorenzo/">
                <span>Primi passi
                </span>
            </a>
        </li>
    </ul>
    <hr class="space" />
    <div class="white-box">
        <h2>Benvenuto nel portale di Lorenzo!!</h2>
        <p>Qui troverai tante informazioni sul mio conto, dalla mia famiglia alle mie più care amicizie.</p>
        <p>Ti racconterò cosa mi piace e come trascorro le mie giornate.</p>
        <p>Senti libero di farti un giro nelle vaire sezioni, e prima di andartene non dimenticarti di lasciarmi qualche commento in bacheca.</p>
    </div>
    <div id="likes">
        <p class="likes-title">Cosa mi piace</p>
        <div>
            <img src="~/Images/Lorenzo/biberon.png" alt="latte" />
        </div>

        <div>
            <img src="~/Images/Lorenzo/culla.png" alt="dormire" />
        </div>
        <div>
            <img src="~/Images/Lorenzo/ciuccio.png" alt="ciuccio" />
        </div>
        <div>
            <img src="~/Images/Lorenzo/pupu.png" alt="pupù" />
        </div>
    </div>
</div>
