@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Assistenza:</span>
        <span><a href="mailto:assistenza@cammarata.es">Assistenza@cammarata.es</a></span>
    </p>
    <p>
        <span class="label">Contatto:</span>
        <span><a href="mailto:contatto@cammarata.com">Contatto@cammarata.com</a></span>
    </p>
</section>